*{
    font-family: 'PT Sans', sans-serif;
    margin: 0 auto;
    padding: 0;
 /*   outline: 1px solid black;*/
}
header{
    width: 1280px;
}
main{
    width: 1280px;
}
footer{
    position: relative;
    width: 1280px;
    background: rgba(255, 255, 255, 0.84);
}
button{
    text-transform: uppercase;
}
.head-nav{
    display: flex;
    width: 1200px;
    box-shadow: rgba(0, 0, 0, 0.36) 0 12px 35px 1px;
}
.head-nav a{
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
.head-nav a:hover {
    color: #81b3d2;
}
.head-nav a:active{
    color: #b2b2b2;
}
.head-nav a:nth-of-type(1),
.head-nav a:nth-of-type(2),
.head-nav a:nth-of-type(4),
.head-nav a:nth-of-type(5) {
    padding: 19px 0 19px 0;
}
.head-nav a:nth-of-type(1){
    margin: 0 0 0 73px;
}
.head-nav a:nth-of-type(2){
    margin: 0 0 0 149px;
}
.head-nav a:nth-of-type(3){
    margin: 0 0 0 533px;
}
.head-nav a:nth-of-type(4){
    margin: 0 0 0 387px;
}
.head-nav a:nth-of-type(5){
    margin: 0 0 0 161px;
}
.head-img {
    position: absolute;
    width: 137px;
    height: 70px;
    background: url("../img/logo.png") center no-repeat;
}
.img-background{
    width: 1200px;
    height: 720px;
    background: url("../img/backgroundsedona.jpg") center no-repeat;
    background-size: cover;
}
.decor-background{
    position: absolute;
    width: 1200px;
    height: 60px;
    margin:  450px 0 0 40px;
    background: url("../img/decorbackg.png") center no-repeat;
}
.causes{
    position: absolute;
    width: 1200px;
    margin:  509px 0 0 40px;
    background: #ffffff;
}
.sedona-causes{
    width: 576px;
    height: 100px;
    margin: 55px auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.sedona-causes h3{
    margin: 60px 0 0 0;
    letter-spacing: 1px;
}
.sedona-causes p{
    margin: 35px 0 0 0;
    font-size: 14px;
}
.causes-container-one{
    width: 1200px;
    display: flex;
}
.causes-container-two{
    width: 1200px;
    display: flex;
}
.blue-block{
    width: 400px;
    height: 256px;
    background: #81b3d2;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}
.blue-block h3{
    margin: 48px 0 23px 0;
}
.blue-block p{
    margin: 22px 0 0 0;
    color: #d5e6f0;
    font-size: 14px;
}
.pic{
    width: 800px;
    height: 256px;
    background: url("../img/photo1.png") center no-repeat;
    background-size: cover;
}
.pic:nth-of-type(1){
    width: 800px;
    height: 256px;
    background: url("../img/photo2.png") center no-repeat;
    background-size: cover;
}
.info-big{
    width: 400px;
    height: 330px;
    text-align: center;
    text-transform: uppercase;
}
.info-big h3{
    letter-spacing: 1px;
}
.info-big p{
    margin: 21px 0 0 0;
    font-size: 14px;
    line-height: 20px;
}
.icon-one{
    width: 76px;
    height: 76px;
    margin: 60px auto 30px auto;
    background: url("../img/icon-1.png") center no-repeat;
}
.icon-two{
    width: 76px;
    height: 76px;
    margin: 60px auto 30px auto;
    background: url("../img/icon-2.png") center no-repeat;
}
.icon-tree{
    width: 76px;
    height: 76px;
    margin: 60px auto 30px auto;
    background: url("../img/icon-3.png") center no-repeat;
}
.info-small{
    width: 400px;
    height: 255px;
    background: #eeeeee;
    text-align: center;
    text-transform: uppercase;
}
.info-small h3{
    margin: 48px 0 23px 0;
    letter-spacing: 1px;
}
.info-small p{
    margin: 22px 0 0 0;
    font-size: 14px;
    line-height: 20px;
}
.search-wrap{
    width: 1200px;
    padding: 50px 0 0 0;
}
.hotels-search{
    width: 576px;
    height: 240px;
    text-align: center;
    text-transform: uppercase;
}
.hotels-search h1{
    margin: 5px 0 23px 0;
}
.hotels-search p{
    margin: 0 0 48px 0;
    line-height: 23px;
    font-size: 14px;
}
.btn-search{
    width: 573px;
    height: 87px;
    background: #766357;
    color: #ffffff;
    font-size: 21px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
.btn-search:hover{
    background: #604e43;
}
.btn-search:active{
    background: #503e33;
    color: #695950;
}
.map{
    height: 474px;
}
.foot-wrap{
    display: flex;
    width: 1200px;
    height: 120px;
}
.social{
    width: 400px;
    height: 120px;
    text-align: center;
    text-transform: uppercase;
}
.social h3{
    margin: 47px 0 0 0;
}
.social a{
    margin: 40px 0 0 0;
    text-decoration: none;
}
.twitter{
    display: inline-block;
    width: 43px;
    height: 43px;
    background: #81b3d2 url("../img/twitter.png") center no-repeat;
}
.facebook{
    display: inline-block;
    width: 43px;
    height: 43px;
    background: #81b3d2 url("../img/fb.png") center no-repeat;
}
.youtube{
    display: inline-block;
    width: 43px;
    height: 43px;
    background: #81b3d2 url("../img/youtube.png") center no-repeat;
}
.twitter:hover,
.facebook:hover,
.youtube:hover{
    background: #669ec0;
}
.twitter:active,
.facebook:active,
.youtube:active{
    background: #5496bd;
    color: #88b6d1;
}
.main-hotels{
    width: 1280px;
}
.filter-wrap{
    display: flex;
    width: 100%;
    height: 217px;
    background: url("../img/filterbackground.png") center no-repeat;
    color: #ffffff;
    text-transform: uppercase;
}
.filter{
    width: 150px;
    height: 165px;
    margin: 30px 0 0 110px;
}
.filter h4{
    margin: -3px 0 25px 0;
}
.filter-item{
    margin: 0 0 25px 0;
}
.filter-price{
    width: 328px;
    height: 160px;
    margin: 26px 0 0 332px;
}
.range-price{
    float: left;
    width: 296px;
    margin: 11px 0 0 0;
    padding: 7px;
    border: 2px solid white;
}
.min-price{
    margin: 0 0 0 60px;
}
.max-price{
    margin: 0 0 0 105px;
}
.scale{
    width: 317px;
    height: 2px;
    margin: 70px 0 25px 0;
    background: #999999;
}
.white-scale{
    float: left;
    width: 260px;
    height: 2px;
    background: #ffffff;
}
.circle-min{
    position: absolute;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    margin: -10px 0 0 0;
    background: #ffffff;
    cursor: pointer;
}
.circle-max{
    position: absolute;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    margin: -12px 0 0 250px;
    background: #ffffff;
    cursor: pointer;
}
.btn-show{
    margin: 4px 0 0 83px;
    padding: 7px 35px 7px 35px;
    border: 2px solid white;
    background: none;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}
.btn-show:hover{
    color: #000000;
    font-weight: bold;
    background: #ffffff;
}
.main-wrap{
    display: flex;
    width: 1200px;
    height: 540px;
    font-size: 14px;
    text-transform: uppercase;
}
.result-search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 600px;
    padding: 27px 0 27px 0;
    text-align: center;
 }
.result-search h2{
    margin: 3px 40px 0 71px;
}
.result-search p{
    font-size: 12px;
    margin: 7px 30px 0 10px;
}
.btn-sort{
    height: 25px;
    border: none;
    border-bottom: 1px dashed #81b3d2;
    background: none;
    color: #d1d1d1;
    font-size: 12px;
    cursor: pointer;
}
.btn-sort:hover{
     color: #92bdd8;
}
.btn-sort:active{
    color: #222222;
}

.result-search-wrap{
    width: 600px;
    background: #fefefe;
 }
.rating-wrap{
    width: 600px;
    background: #fefefe;
}
.hotels-wrap{
    display: flex;
    height: 150px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
 }
.btn-more{
    padding: 4px 18px 4px 18px;
    margin: 16px 0 0 0;
    border: none;
    color: #ffffff;
    font-weight: bold;
    background: #81b3d2;
    cursor: pointer;
}
.btn-more:hover{
    background: #669ec0;
}
.btn-more:active{
    background: #5496bd;
    color: #88b6d1;
}
.btn-order{
    padding: 4px 19px 4px 19px;
    margin: 16px 0 0 4px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    background: #766357;
    cursor: pointer;
}
.btn-order:hover{
    background: #604e43;
}
.btn-order:active{
    background: #503e33;
    color: #857871;
}
.hotel-img-one{
    width: 135px;
    height: 90px;
    margin: 0 30px 0 22px;
    background: url("../img/imghotels1.png") no-repeat;
}
.hotel-img-two{
    width: 135px;
    height: 90px;
    margin: 0 30px 0 22px;
    background: url("../img/imghotels2.png") no-repeat;
}
.hotel-img-tree{
    width: 135px;
    height: 90px;
    margin: 0 30px 0 22px;
    background: url("../img/imghotels3.png") no-repeat;
}
.hotel-info{
    width: 260px;
    height: 90px
}
.hotel-info a{
    margin: 0 0 3px 0;
}
.hotel-info a:hover{
    color: #81b3d2;
}
.hotel-info a:active{
    color: #b2b2b2;
}
.rating{
    width: 241px;
    height: 87px;
    margin: 34px 0 0 287px;
}
.stars{
    width: 241px;
    height: 20px;
}
.rating-score{
    width: 111px;
    height: 28px;
    margin: 0 0 0 150px;
    background: #f2f2f2;
}
.html-academy{
    width: 205px;
    margin: 40px auto;
}
.stars {
    direction: rtl;
    margin: 0 0 45px 0;
}
.stars > span {
    display: inline-block;
    width: 20px;
}
.stars > span:before{
    content: "\2605";
    font-size: 20px;
    color: #81b3d2;
}
.wrapper{
    display: flex;
    height: 95px;
    margin: 31px 0 0 50px;
}
.sort-arrow {
    width: 60px;
    height: 27px;
    direction: rtl;
    margin: 3px 0 0 480px;
}
.sort-arrow > span {
    width: 20px;
}
.sort-arrow > span:before{
    content: url("../img/down-dir.png");
    font-size: 22px;
    margin: 0 0 0 10px;
}
.sort-arrow > span:after{
     content: url("../img/up-dir.png");
     font-size: 22px;
 }
.shadow-index{
    position: absolute;
    width: 1200px;
    height: 2685px;
    margin: 0 0 0 40px;
    box-shadow: rgba(0, 0, 0, 0.36) 0 15px 35px 1px;
    z-index: -1;
}
.shadow-hotels{
    position: absolute;
    width: 1200px;
    height: 861px;
    margin: 0 0 0 40px;
    box-shadow: rgba(0, 0, 0, 0.36) 0 15px 35px 1px;
    z-index: -1;
}
.modal{
    position: absolute;
    opacity: 0;
    width: 573px;
    height: 365px;
    margin: 0 0 0 353px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    background: #ffffff;
    transition: opacity .3s linear;
}
.modal-date:nth-of-type(1){
    padding: 66px 0 0 50px;
}
.modal-date:nth-of-type(2){
    padding: 20px 0 0 50px;
}
.calendar{
    width: 345px;
    height: 38px;
    background: gold;
    margin: -27px 0 31px 123px;
}
.calendar p {
    align-items: center;
}
.folk{
    width: 114px;
    height: 38px;
    text-align: center;
    background: gold;
}
.wrap-modal{
    display: flex;
}
.link-search-modal{;
    padding: 18px 210px 18px 210px;
    color: #ffffff;
    text-decoration: none;
    font-size: 21px;
    background: #81b3d2;
}
.link-search-modal:hover{
    background: #669ec0;
}
.link-search-modal:active{
    background: #5496bd;
    color: #88b6d1;
}
.open{
    opacity: 1;
    visibility: visible;
    z-index: 1;
}